name: Build, Lint, and Test
env:
  EXPORT_RESULT: true
on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    - name: Setup Go
      uses: actions/setup-go@v4
      with:
        go-version: '^1.18'

    - name: Install dependencies
      run: make vendor

    - name: Check build
      run: make build

    - name: Run golangci-lint
      uses: golangci/golangci-lint-action@v3.7.0
      with:
        args: --enable gofmt --enable gofumpt --timeout 5m

    - name: Check YAML linting
      run: make lint-yaml

    - name: Check Kubebuilder Annotation linting
      run: make lint-kubebuilder

    - name: Run tests
      run: make test

    - name: Prepare coverage report
      run: make coverage

    - name: Codecov
      uses: codecov/codecov-action@v3.1.3

