---
name: Black Duck Policy Check

on:
  pull_request:
    branches:
      - main
  schedule:
    - cron: '0 0 * * *'  # midnight everyday
  push:

jobs:
  security:
    if: github.repository == 'nutanix-cloud-native/prism-go-client'
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: '^1.21'

      - name: Run Synopsys Detect
        uses: synopsys-sig/detect-action@v0.3.5
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          detect-version: 8.10.0
          blackduck-url: ${{ secrets.BLACKDUCK_URL }}
          blackduck-api-token: ${{ secrets.BLACKDUCK_API_TOKEN }}
